.App {
  padding: 2%;
  height: 100vh;
  font-family: "Arial";
  background-color:rgb(204, 199, 199);
}
.head-title {
  text-align: center;
}
.left-panel {
  flex: 5;
}
.right-panel {
  margin-left: 100px;
  flex: 5;
  padding: 5px 10px 10px 10px;
  border-radius: 10px;
}
.box {
  border: 1px solid black;
}
.row {
  display: flex;
  height: 100%;
}
.notification {
  color: rgb(150, 74, 3);
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}